<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-10">
        <nav>
            <a routerLink="/profile" routerLinkActive="active" *appAuthUser>PROFILE</a>
            <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *appUserRole="[ Role.Admin, Role.SuperAdmin]">ADMIN</a>
            <a routerLink="/question-list" routerLinkActive="active" *appAuthUser>QUESTIONS</a>
            <a (click)="logout()" routerLinkActive="active" *appAuthUser>LOGOUT</a>
        </nav>
    </div>
</div>